@import "tailwindcss";

/*npx @tailwindcss/cli -i ./styles.css -o ./output.css --watch*/
 * {
    @apply box-border;
}

.autocomplete {
    @apply relative inline-block;
}
input {
    @apply border-transparent bg-gray-200 p-2 text-base;
}
input[type=text] {
    @apply block mx-auto bg-gray-200 text-black;
}
input[type=submit] {
    @apply bg-blue-500 text-black;
}
.autocomplete-items {
    @apply absolute border border-gray-300 border-t-0 z-50 w-full;
}
.autocomplete-items div {
    @apply p-2 cursor-pointer bg-white text-black border-b border-gray-300;
}
.autocomplete-items div:hover {
    @apply bg-gray-300;
}
.autocomplete-active {
    @apply bg-blue-500 text-black;
}

.gainers {
    @apply text-green-500;
}

.losers {
    @apply text-red-500;
}

.newsArticle {
    @apply bg-gray-500 hover:bg-gray-600 hover:cursor-pointer my-3 grid grid-cols-3 grid-rows-2 rounded-xl items-center;
}

img {
    @apply block bg-gray-300 m-3 rounded-xl text-black row-span-2;
}

.newsArticle strong {
    @apply block col-span-2;
}

.newsArticle p {
    @apply col-span-2;
}

h1 {
    @apply text-4xl
}

h2 {
    @apply block mx-auto text-2xl
}

.snapshotElement{
    @apply bg-gray-950 text-white hover:bg-gray-800 hover:cursor-pointer;
}

.stock a {
    @apply hover:text-gray-500 hover:cursor-pointer;
}

@theme {
    --animate-scroll: ticker-scroll 250s linear infinite; 
    /* Scrolling Animation */
    @keyframes ticker-scroll {
        0% { transform: translateX(0); } 
        100% { transform: translateX(-50%); } 
    }
}

#indexBody {
    @apply grid grid-cols-3 gap-4 font-sans text-base bg-gray-700 text-white;
}

.index header {
    @apply overflow-hidden col-span-3;
}

.index #scroll {
    @apply animate-scroll whitespace-nowrap bg-gray-950;
}

.index #scroll .snapshotElement, .index #scroll .snapshotElement p {
    @apply inline-block;
}

.index #title {
    @apply col-span-3 mx-auto;
}

.index #txtStock {
    @apply col-span-3 w-1/2;
}

.index #results {
    @apply col-span-3;
}

.index main {
    @apply col-span-2 grid grid-cols-2 gap-2;
}





#stockBody {
    @apply grid grid-cols-3 gap-4 font-sans text-base bg-gray-700 text-white;
}

.stock header {
    @apply col-span-3 grid grid-cols-3;
}

.s

.stock main {
    @apply col-span-2 mx-auto;
}

.stock #container {
    @apply w-2/2 h-170;
}

.stock select {
    @apply bg-gray-800;
}

.stock #companyDesc {
    @apply col-span-3 w-1/2 mx-auto;
}

.stock #relatedStocksCont {
    @apply col-span-2;
}
