@import "tailwindcss";


 * {
    @apply box-border;
}

.index body {
    @apply font-sans text-base;
}

.index .autocomplete {
    @apply relative inline-block;
}
.index input {
    @apply border-transparent bg-gray-200 p-2 text-base;
}
.index input[type=text] {
    @apply block mx-auto bg-gray-200 w-1/2;
}
.index input[type=submit] {
    @apply bg-blue-500 text-white;
}
.index .autocomplete-items {
    @apply absolute border border-gray-300 border-t-0 z-50 w-full;
}
.index .autocomplete-items div {
    @apply p-2 cursor-pointer bg-white border-b border-gray-300;
}
.index .autocomplete-items div:hover {
    @apply bg-gray-200;
}
.index .autocomplete-active {
    @apply bg-blue-500 text-white;
}

.index .gainers {
    @apply text-green-600;
}

.index .losers {
    @apply text-red-600;
}

.index .newsArticle {
    @apply bg-gray-400 hover:bg-gray-500 hover:cursor-pointer w-1/4;
}

.index img {
    @apply inline;
}

@theme {
    --animate-scroll: ticker-scroll 250s linear infinite; 
    /* Scrolling Animation */
    @keyframes ticker-scroll {
        0% { transform: translateX(0); } 
        100% { transform: translateX(-50%); } 
    }
}

.index header {
    @apply overflow-hidden;
}

.index #scroll {
    @apply animate-scroll whitespace-nowrap;
}

.index .scrollElement {
    @apply inline-block;
}

.index .scrollElement, .gainerLoserElement {
    @apply hover:bg-gray-300 hover:cursor-pointer;
}